<div class="adminContainer">
  <div class="entryAdmin col-sm-3">
    <h3>Edit Entries</h3>
    <div class="pastEntry" ng-repeat="entry in entries" ng-click="editEntry()">{{entry.title}}</div>
  </div>
  <div class="col-sm-1"></div>
  <div class="createEntryAdmin col-sm-7">
    <div class="post-container">
      <form class="form col-sm-12">
        <div class="form-group">
          <label for="email">Title</label>
          <input type="text" id="email" class="form-control" ng-model="entry.title"/>
        </div>
        <div class="form-group">
          <label for="email">Categories</label>
          <div ng-dropdown-multiselect="" options="categories" selected-model="selectedCategories" extra-settings="categorySettings"></div>
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="text" id="date" class="form-control" ng-model="entry.date"/></input>
        </div>
        <div class="form-group">
          <label for="file-upload">Image</label>
          <input type="file" id="file-upload" ng-click="pickImg()" ng-model="entry.img" placeholder="imageurl"/> {{ entry.img }}
        </div>
        <div class="form-group">
          <label for="entry">Entry</label>
          <textarea id="entry" class="form-control" ng-model="entry.summary" rows="10"/>
        </div>
        <button class="btn btn-default col-sm-1" ng-click="postEntry(entry)">Post</button>
      </form>
    </div>
    <h3>Comments</h3>
    <div class="comment commentAdmin" ng-repeat="comment in entry.comments">
      <div class="commentName">{{ comment.name }}</div>
      <div class="commentText">{{ comment.text }}</div>
      <div class="deleteComment" ng-click="removeComment()">Delete</div>
    </div>
  </div>
  <div class="col-sm-1"></div>


</div>