<div class="container">
  <div class="entryAdmin col-sm-3">
    <h3>Edit Entries</h3>
    <div class="pastEntry" ng-repeat="entry in entries" ng-click="editEntry()">{{entry.title}}</div>
  </div>
  <div class="col-sm-1"></div>
  <div class="createEntryAdmin col-sm-7">
    <div class="post-container">
      <form class="form col-sm-12">
        <div class="form-group">
          <label for="email">Title</label>
          <input type="text" id="email" class="form-control" ng-model="entry.title"/>
        </div>
        <div class="form-group">
          <label for="email">Categories</label>
          <input type="checkbox" ng-model="entry.categories.style" ng-value="Style"> Style
          <input type="checkbox" ng-model="entry.categories.home" ng-value="Home"> Home
          <input type="checkbox" ng-model="entry.categories.travel" ng-value="Travel"> Travel
          <input type="checkbox" ng-model="entry.categories.workout" ng-value="Workout"> Workout
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="text" id="date" class="form-control" ng-model="entry.date"/></input>
        </div>
        <div class="form-group">
          <label for="entry">Entry</label>
          <textarea id="entry" class="form-control" ng-model="entry.summary" rows="10"/>
        </div>
        <button class="btn btn-default col-sm-1" ng-click="postEntry(entry)">Post</button>
      </form>
    </div>
    <div class="commentAdmin col-sm-12">
      <div class="comment" ng-repeat="comment in comments">
        {{ comment }}
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>


</div>